@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Fonts */
  /* --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-sekuya: var(--font-sekuya); */

  /* Base */
  --background: #f6f5f2;
  --surface: #ffffff;
  --foreground: #173b45;
  --muted: #6b7280;

  /* Brand */
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --secondary: #38bdf8;
  --accent: #f59e0b;

  /* UI */
  --border: #dbe4ee;
  --card: #ffffff;
}

.dark {
  /* Base */
  --background: #0f172a;
  --surface: #162032;
  --foreground: #f6f5f2;
  --muted: #94a3b8;

  /* Brand */
  --primary: #3b82f6;
  --primary-hover: #60a5fa;
  --secondary: #38bdf8;
  --accent: #fbbf24;

  /* UI */
  --border: #334155;
  --card: #1e293b;
}

@theme inline {
  /* Fonts */
  --font-sekuya: var(--font-sekuya);
  --font-bricolage: var(--font-bricolage);
  --font-roboto: var(--font-roboto);

  /* Colors */
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-border: var(--border);
  --color-card: var(--card);
}

* {
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  -ms-overflow-style: none;
}
